<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>

    <%- include('../partials/nav') %>   
   <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">
                <form method="post">
                    <input type="hidden" name="blogId" value="<%= blog.blogId %>" >
                    <div class="row mb-3">
                        <label for="baslik" class="col-sm-2 col-form-label">
                            Baslik:
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="baslik" name="baslik" value="<%= blog.baslik %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="aciklama" class="col-sm-2 col-form-label">
                            Aciklama:
                        </label>
                        <div class="col-sm-10">
                            <textarea name="aciklama" id="aciklama"  class="form-control" rows="10" ><%= blog.description %>
                            </textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="resim" class="col-sm-2 col-form-label">
                            Resim Yukle:
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="resim" name="resim" value="<%= blog.resim %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="kategori" class="col-sm-2 col-form-label">
                            Kategori Sec:
                        </label>
                        <div class="col-sm-10">
                            <select name="kategori" id="kategori" class="form-select">
                                <option value="-1" selected>Seciniz...</option>
                                <% categories.forEach(category => { %>
                                    <% if (category.categoryId == blog.categoryId) { %>
                                        <option value="<%= category.categoryId%>" selected><%= category.categoryName %></option>
                                        <% } else { %>
                                            <option value="<%= category.categoryId%>"><%= category.categoryName %></option>
                                        <% } %>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <div class="form-check">
                                <input class="form-check-input" id="anasayfa" type="checkbox" name="anasayfa" <%= blog.anasayfa ? 'checked' : ''%> >
                                <label for="anasayfa" class="form-check-label">
                                    Anasayfa
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <div class="form-check">
                                <input class="form-check-input" id="onay" type="checkbox" name="onay" <%= blog.onay ? 'checked' : ''%> >
                                <label for="onay" class="form-check-label">
                                    Onay
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
    </div>

</body>
</html>

