<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>

    <%- include('../partials/nav') %>
   
   <div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <%- include('./partials-user/category-menu',{categories,selectedCategory}) %>
        </div>
        <div class="col-md-9">
            <h1 class="mb-3">BLOG == > <%= title %></h1>
            <% if (blogList.length == 0) { %>
                <%- include('./partials-user/no-blog') %>
            <% } %>
                <% blogList.forEach(blog => { %>
                    <%- include('./partials-user/blog-card',blog) %>
                    
                <% }) %>
                <% if (blogList.length > 3) { %>
                    <%- include('../partials/pagination') %>
                <% } %>
        </div>
    </div>
   </div>

</body>
</html>

